<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package') { ?>
  <h2 style="font-size: 16px; font-weight: normal; margin: 0 0 0 24px;">Create, navigate, and augment structures &mdash; in interesting ways.</h2>
  <blockquote style="margin-left: 24px; color: red;">Please Note: this documentation is still a work in progress.</blockquote>
<?js } ?>

<?js if (data.readme) { ?>
    <section id="readme">
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
