body, html { padding: 0; margin: 0; background: #ffffff; height: 100%; }
body {
  background: url(../images/skyglobe_x2000.jpg) no-repeat center 80px;
  -o-background-size: 100% 30%;
  -webkit-background-size: 100% 30%;
  -khtml-background-size: 100% 30%;
  -moz-background-size: 100% 30%;
}


nav#theory {
  text-align: center;
  position: relative;
  margin-top: 100px;
  display: block;
}

nav#theory .center {
  margin-left: auto;
  margin-right: auto;
}

nav#theory a {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 216px;
  height: 147px;
  overflow: hidden;
  font-size: 147px;
  display: inline;
  display: inline-block;
}

nav#theory a img {
  visibility: hidden;
}

nav#theory a.event-theory    { background: url(../images/bubble-event-theory.png) no-repeat top left; }
nav#theory a.array-theory    { background: url(../images/bubble-array-theory.png) no-repeat top left; }
nav#theory a.object-theory   { background: url(../images/bubble-object-theory.png) no-repeat top left; }
nav#theory a.string-theory   { background: url(../images/bubble-string-theory.png) no-repeat top left; }
nav#theory a.creator-theory  { background: url(../images/bubble-creator-theory.png) no-repeat top left; }
nav#theory a.overload-theory { background: url(../images/bubble-overload-theory.png) no-repeat top left; }

nav#theory a.event-theory:hover, nav#theory a.event-theory:focus       { background: url(../images/bubble-event-theory-z.png) no-repeat top left; }
nav#theory a.array-theory:hover, nav#theory a.array-theory:focus       { background: url(../images/bubble-array-theory-z.png) no-repeat top left; }
nav#theory a.object-theory:hover, nav#theory a.object-theory:focus     { background: url(../images/bubble-object-theory-z.png) no-repeat top left; }
nav#theory a.string-theory:hover, nav#theory a.string-theory:focus     { background: url(../images/bubble-string-theory-z.png) no-repeat top left; }
nav#theory a.creator-theory:hover, nav#theory a.creator-theory:focus   { background: url(../images/bubble-creator-theory-z.png) no-repeat top left; }
nav#theory a.overload-theory:hover, nav#theory a.overload-theory:focus { background: url(../images/bubble-overload-theory-z.png) no-repeat top left; }

nav#theory a:nth-child(2), nav#theory a:nth-child(3) {
  top: -10px;
}

nav#theory a:hover, nav#theory a:focus {
  -webkit-transform: translate(0px,-10px);
  -moz-transform: translate(0px,-10px);
  -o-transform: translate(0px,-10px);
  -ms-transform: translate(0px,-10px);
  transform: translate(0px,-10px);
  outline: 0px;
}

nav#theory a:target {
  /*
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  */
  z-index:1;
}

#main {
  width: 80%;
}

/*
section {
  margin-top: 160px;
  margin-bottom: 160px;
}

section#sectionEvent {
  
}

.page-block {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 80%;
  text-align: center;
}

.copy-block {
  font-family: 
    'HelveticaNeue-Light',
    'Helvetica Neue Light',
    'Helvetica Neue',
    Helvetica, 
    Arial,
    sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.2em;
  font-size: 0.95em;
  color: #000000;
  text-align: left;
  max-width: 600px;
}

.copy-block h4 {
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-size: 0.95em;
}

.copy-block h1, .copy-block h3 {
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2em;
  font-size: 2em;
  color: #ffba00;
}

.blog-block h3 {
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-size: 0.95em;
  color: #ffba00;
}

code {
  display: block;
  margin: 20px;
}

code .output {
  color: blue;
  font-style: italic;
}

code .comment {
  color: gray;
  font-style: italic;
}
*/